body {
    font-family: Arial, sans-serif;
    background-color: #C0DFD6; /* Green background */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F4A3ED; /* Pink header */
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #F4A3ED; /* Pink nav background */
    padding: 10px 0;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #F4A3ED; /* Pink footer */
    color: white;
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #F4A3ED; /* Pink button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #C0DFD6; /* Green button hover */
}
